# Arquivo de configurações locais com senhas
application.properties

# Arquivos compilados do Maven
target/

# Arquivos de log
*.log

# Arquivos de configuração de IDEs
.idea/
*.iml
*.nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.settings
.springBeans
.sts4-cache
.vscode/